/* Стиль для выбора класса */
#class-selection {
  margin-top: 50px;
  color: black;
}

.class-button {
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 10px;
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 12px;
    /* НЕОН */
  box-shadow: 
    0 0 5px #0b041f,
    0 0 10px #0b041f,
    0 0 20px #0b041f,
    0 0 40px #0b041f;          /* эффект свечения */
  transition: 0.3s;
}

.neon-btn:hover {
  box-shadow: 
    0 0 10px #2e1475,
    0 0 20px #2e1475,
    0 0 40px #2e1475,
    0 0 80px #2e1475;          /* усиливаем свечение при наведении */
}

#upgrade-section {
  margin-top: 20px;
  color: white;
  background: black;
}

.upgrade-button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 12px;
    /* НЕОН */
  box-shadow: 
    0 0 5px #0b041f,
    0 0 10px #0b041f,
    0 0 20px #0b041f,
    0 0 40px #0b041f;          /* эффект свечения */
  transition: 0.3s;
}

.neon-btn:hover {
  box-shadow: 
    0 0 10px #2e1475,
    0 0 20px #2e1475,
    0 0 40px #2e1475,
    0 0 80px #2e1475;          /* усиливаем свечение при наведении */
}

/* Стили из старого дизайна */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #5015b0;
  margin: 0;
  padding: 0;
}

#game-container {
  position: relative;
  width: 100%;
  height: 80vh;
  margin: 20px auto;
}

#emoji-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.emoji {
  position: absolute;
  font-size: 2em;
  cursor: pointer;
}

#basket {
  font-size: 3em;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#score {
  margin-top: 10px;
  font-size: 1.5em;
  color: black;
}




